.post-content {
  $image-margin: 2.5em;

  img {
    max-width: 100%;
    margin: 0 auto $image-margin;
    display: block;
  }

  .highlighter-rouge {
    margin-bottom: $image-margin;
  }

  figcaption {
    text-align: center;
    margin-top: -$image-margin;
    margin-bottom: 15px; // "p"'s margin bottom
  }
}

.cta-form {
  margin-top: 3rem;
  background-color: #f8faff;
  padding: 1rem;
  h4 {
    font-weight: bold;
    text-align: center;
    margin-top: 0;
  }
}
